/* Dropdown Modules */

.dropdown {
  position: relative;
  width: 134px;
  height: 50px;
  display: inline-block;
}

.dropdownMenu {
  position: absolute;
  z-index: 990;
  float: left;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  margin: -43px 0px 0px 0px;
  max-width: 120px;
  min-width: 120px;
  min-height: 36px;
  max-height: 218px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  padding: 0px 0px;
}

.dropdown-toggle {
  width: 120px;
  height: 36px;
  text-align: left;
}

.dropdownMenu.textfield {
  position: absolute;
  margin: -8px 0px 0px 0px;
  width: 400px;
  max-width: 400px;
  border-radius: 0px;
}

.dropdown-toggle.textfield-dropdown {
  height: 50px;
  width: 400px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.38); /* black */
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background: rgba(47, 45, 46, 0.02);
  max-width: 400px;
}

.dropdown-toggle.textfield-dropdown:after {
  margin-top: -15px;
  margin-left: calc(100% - 25px);
}

.dropdown-toggle:after {
  border-top: 0.43em solid; /* modifying the Bootstrap dropdown icon */
  border-right: 0.43em solid transparent; /* modifying the Bootstrap the dropdown icon */
  border-left: 0.43em solid transparent; /* modifying the Bootstrap the dropdown icon */
  position: relative;
  top: 5px;
  float: right;
}

.dropdown-item {
  height: 36px;
  padding-right: 12px;
  padding-left: 12px;
  font-family: "Open Sans", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
}

.dropdown-link {
  padding: 12px;
  display: block;
}

/* Dropdown States */

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
}

.dropdown-item:focus {
  color: rgba(0, 0, 0, 0.87);
}

/* Dropdown Theme - Dark */

.dropdownMenu.dark {
  background-color: #595758;
}

.dropdownMenu.dark .dropdown-item {
  color: #ffffff;
}

.dropdown-item.dark.current-selection {
  color: #14b1e7;
}

.dropdown-item.dark:hover {
  /* color: #14b1e7; */
  /* background-color: #595758; */
  background-color: rgba(255, 255, 255, 0.05);
}
