<!--
* Tangible Style Guide
* Copyright 2018 Freeman Co.
* 
* # Radio
*
* -->

<!-- Radio Light -->
<div className="radio">
    <input type="radio" name="radio1" value="option1" id="option1" defaultChecked/>
    <label htmlFor="option1" className="selected custom-control-label">Option 1</label>
</div>
<div className="radio">
    <input type="radio" name="radio1" value="option2" id="option2"/>
    <label htmlFor="option2" className="custom-control-label">Option 2</label>
</div>

<!-- Radio Light Disabled -->
<div className="radio">
    <input className="disabled" type="radio" name="radio1" value="option3" id="option3" disabled/>
    <label htmlFor="option3" className="custom-control-label checked">Disabled Option</label>
</div>

<!-- Radio Dark -->
<div className="radio">
    <input className="dark" type="radio" name="radio2" value="option4" id="option4" defaultChecked/>
    <label htmlFor="option4" className="selected custom-control-label">Option 1</label>
</div>
<div className="radio dark">
    <input className="dark" type="radio" name="radio2" value="option5" id="option5"/>
    <label htmlFor="option5" className="custom-control-label">Option 2</label>
</div>

<!-- Radio Dark Disabled -->
<div className="radio dark" checked>
    <input className="dark disabled" type="radio" name="radio2" value="option6" id="option6" disabled/>
    <label htmlFor="option6" className="custom-control-label checked">Disabled Option</label>
</div>