<!--
* Tangible Style Guide
* Copyright 2018 Freeman Co.
* 
* # Toggle
*
* -->

<!-- Toggle Light -->
<label htmlFor="toggle1" className="toggle-switch">
    <input id="toggle1" type="checkbox" defaultChecked/>
    <span className="toggleSlider" id="Option 1"></span>
</label>

<!-- Toggle Light Disabled -->
<label htmlFor="toggle2" className="toggle-switch">
    <input id="toggle2" type="checkbox" disabled/>
    <span className="toggleSlider" id="Disabled Option"></span>
</label>

<!-- Toggle Dark -->
<label htmlFor="toggle3" className="toggle-switch">
    <input id="toggle3" type="checkbox" defaultChecked/>
    <span className="toggleSlider dark" id="Option 1"></span>
</label>  

<!-- Toggle Dark Disabled -->
<label htmlFor="toggle4" className="toggle-switch">
    <input id="toggle4" type="checkbox" disabled/>
    <span className="toggleSlider dark" id="Disabled Option"></span>
</label>